body {
    background-color:#eeeeee;
}

.toolbar {
    margin:5px;
}

.inputbar {
    margin:5px;
}

.address {
    width:100px;
}

.input {
    width:200px;
}

.menu_item {
    vertical-align:middle;
    margin:5px;
}
